
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-brand {
    float:left;
    padding:2px 1px;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.background-image {
    background-image: url("{% static 'logos/nsbe_background.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

.centered {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 85%;
}

.right {
    width: 75%;
}

.navbar-buttons {
    float: right;
    padding: 10px;
}

.button {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.button:hover {
    background-color: #0056b3;
}

.header {
    background-image: url("{% static 'logos/tsu_header.png' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #333;
    padding: 80px 0;
}